.jvectormap-zoomin,
.jvectormap-zoomout {
  background-color: #ebedf3 !important;
  color: #3f4254 !important;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb;
}
body {
  background-color: #efefef;
 animation:fade1n 2s;
}
@keyframes fade1n{from{opacity:0}to{opacity:1}}
.bx-r {
  background-color: #fff;
  padding: 25px;
  /*-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
  box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
  border: 1px #ddd solid; */
  border-radius: 8px 8px;
  margin-bottom: 20px;
}
.bx-t {
  font-weight: 600;
  font-size: 1.6rem;
  color: #181c32;

}
.bx-r .hr {
  background-color: #efefef;
  height: 2px;
  margin: 14px -25px;
}
.card{margin-bottom:1em}.card .card-header a{color:inherit!important}.card.card-primary{border-color:#0275d8!important}.card.card-primary>.card-header{background-color:#0275d8;color:#fff}

#data {
  display: none;
}
#tag-map img {
  float: left;
  padding: 0 15px;
}
#tag-map {
  direction: rtl;
}
#tag-map span {
  display: inline-block;
  margin-left: 14px;
  font-size: 16px;
}
#navbar {
-webkit-transition: .3s;
-ms-transition: .3s;
-o-transition: .3s;
transition: .3s;
}
.header-animate.header-hidden {
transform: translateY(-100%);
box-shadow: none !important;
}
.badge {
            padding: 3px 5px;
            font-weight: normal;
            font-size: 11px;
        }
 .badge-left {
            border-radius: 3px 0 0 3px;
             background-color: #ededed;
           }
 .badge-right {
            border-radius: 0 3px 3px 0;
            }
